@import "./shared.scss";

body {
  background-color: $white !important;
  //color: $dark-gray-300;
  //font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.c-app, .c-body, .c-main {
  background-color: $white !important;
}

#app {
  background-color: $white !important;
}

.b-avatar .b-avatar-img img {
  object-fit: cover;
}

.form-control, select {
  height: 40px !important;
  background-color: $input-background-color !important;
  border: 0 !important;
  border-radius: 7px !important;

  &:focus {
    background-color: $white!important;
    border-color: rgba(234,76,137,0.4)!important;
    -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1)!important;
    box-shadow: 0 0 0 4px rgba(234,76,137,0.1)!important;
    border: 1px solid rgba(234,76,137,0.4)!important;
  }
}

.c-app__page-title {
  font-size: 22px;
}

.c-app__page-description {
  color: $gray;
  margin-bottom: 30px;
}

.c-app__table {
  thead {
    th, td {
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      border-bottom: 0;
      background-color: $light-gray;
    }
  }
}

textarea.form-control {
  height: auto!important;
}

.c-new-table {
  border: 0 !important;

  thead th {
    border: 1px !important;
    font-weight: 500;
    font-size: 13px;
  }
}

.c-new-pagination {
  .page-item {
    margin: 3px;
  }

  .page-link {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px !important;
    border-color: $brand-border-color !important;
  }

  span.page-link {
    font-size: 16px;
    font-weight: 500;
  }

  button.page-link {
    font-size: 12px;
  }
}
