// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

label.required:after {
  content: ' *';
  color: red;
}

.btn-invisible {
  border: 0;
  background: none;
  outline: 0;

  &:focus {
    outline: 0;
  }

  &:active {
    outline: 0;
  }
}

.b-calendar .b-calendar-grid {
  height: auto!important;
}
